@model Blood_Pressure_Tracker.View_Models.DashboardViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2 class="col-sm-8">Dashboard</h2>
        <div class="btn-group btn-group-justified col-sm-4 float-right">
            <button type="button" class="btn btn-outline-primary col-sm-6"
                    onclick="location.href = '@Url.Action("AddPressureMeasure", "Dashboard", Model.ApplicationUser)'">
                New Measure
            </button>
            <button type="button" class="btn btn-outline-primary col-sm-6"
                    onclick="location.href = '@Url.Action("ShowUserDietPlan", "Dashboard", Model.ApplicationUser)'">
                Show Diet Plan
            </button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="padding-top: 30px">
        <div class="col-sm-6">
            <div class="col-sm-12">
                <img src="data:image/png;base64,@System.Convert.ToBase64String(Model.ChartBytes)" style="width: 100%" alt="" />
            </div>
        </div>

        @if (Model.ApplicationUser.PressureMeasures.Count == 0)
        {
            <h2>No available data</h2>
        }
        else
        {
            <div class=" col-sm-6">
                <h3>Blood measure history</h3>
                <table class="table table-hover">
                    <tbody style="height:350px; overflow-y:auto; display:block">
                        @foreach (var @pressureMeasure in Model.ApplicationUser.PressureMeasures)
                        {
                            <tr>
                                <td class="col-sm-8">
                                    @Html.ActionLink($"Systole {@pressureMeasure.Systole}, Diastole {@pressureMeasure.Diastole} | " +
                                   $"{@pressureMeasure.Date.ToString()}", "EditPressureMeasure", "PressureMeasure",
                                   new { id = pressureMeasure.Id }, null)
                                </td>
                                <td class="col-sm-4">
                                    <button type="button" class="btn btn-primary float-right" onclick="location.href =
                                        '@Url.Action("DeletePressureMeasure", "PressureMeasure", new {id = @pressureMeasure.Id})'">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

