<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Blood Pressure Tracker</title>
    <link rel="shortcut icon" href="/Resources/favicon.ico">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <div class="navbar navbar-expand-sm sticky-top navbar-dark" style="margin-top:-50px; background-color: #e8175d">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("Blood Pressure Tracker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="collapse navbar-collapse justify-content-end" id="myNavbar">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div>
        @if (ViewContext.RouteData.Values["controller"].ToString() == "Home")
        {
            @RenderBody()
        }
        else
        {
            <div class="container body-content" style="padding-top: 30px">
                @RenderBody()
            </div>
        }
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Blood Pressure Tracker</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
